@using PlanningPoker.Website.Components.Basics

<div class="team-capacity-container">
    <div class="progress" @onclick="OnOpenSprintAnalysis">
        <div class="progress-bar @(ProgressPercentage > 100 ? "over-capacity" : "")"
             role="progressbar"
             style="width:@Math.Min(ProgressPercentage, 100)%;"
             aria-valuenow="@VotedStoryPoints"
             aria-valuemin="0"
             aria-valuemax="@SprintTeamCapacity">
            @ProgressPercentage%
        </div>
    </div>
    <div class="progress-info">
        <span>
            @VotedStoryPoints /
            @if (isEditingCapacity)
            {
                <input class="inline-edit" type="number" @bind="SprintTeamCapacity" @onkeydown="OnKeyDown" @onblur="OnLeaveCapacityInput" min="0" step="0.5" @ref="editCapacityInputElement"/>
            }
            else
            {
                <span class="edit-capacity" @onclick="OnEditCapacity">
                    @SprintTeamCapacity
                </span>
            }
            Story Points Set
        </span>
    </div>
</div>

<Modal IsOpen="@isSprintAnalysisOpen" IsOpenChanged="@OnCloseSprintAnalysis">
    <SprintAnalysis @ref="sprintAnalysis" SprintId="@SprintId"/>
</Modal>
